<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование проекта</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/projects/{id}(id=${project.getId()})}" th:object="${project}">
    <label for="name">Введите название проекта</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Project name Error</div>
    <br/>
    <label for="projectInfo">Введите информацию о проекте</label>
    <input type="text" th:field="*{projectInfo}" id="projectInfo"/>
    <div style="color: red" th:if="${#fields.hasErrors('projectInfo')}" th:errors="*{projectInfo}">Project info Error</div>
    <br/>
    <input type="submit" value="Обновить данные проекта" />
</form>

</body>
</html>